@import "./variables/colors.scss";
@import "./variables/fonts.scss";

.title{
    font-family: $mainFont;
    color: $mainColor;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.price{
    font-family: $subMenuFont;
    text-align: center;
}

.description{
    font-family: $textFont;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

.btn{
    font-family: $mainFont;
    border: 1px solid $mainColor;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    background-color: $mainColor;
    color: $backgroundColor;
}